<?xml version="1.0"?>

<model>
  <name>rover primal 1</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Preston Alexander Ott</name>
    <email>prestonott152@gmail.com</email>
  </author>

  <description>
	This is a sdf file of the rover made from primitive shapes with the ArduPilot Plugins
  </description>
</model>
